@model BaoMoiOnline.Models.Role

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Roles" asp-action="Index">Quản lý Quyền Truy Cập</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chỉnh Sửa Quyền Truy Cập</li>
    </ol>
    <h6 class="slim-pagetitle">CHỈNH SỬA QUYỀN TRUY CẬP</h6>
</div><!-- slim-pageheader -->
<hr />

<div class="section-wrapper mg-t-20">
    <form asp-area="Admin" asp-controller="Roles" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RoleId" />
        <div class="form-layout form-layout-6">
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    Role Name:
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" asp-for="RoleName" placeholder="Enter your Role Name">
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div><!-- col-8 -->
            </div><!-- row -->
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    Role Description:
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" asp-for="RoleDescription" placeholder="Enter your Role Description">
                    <span asp-validation-for="RoleDescription" class="text-danger"></span>
                </div><!-- col-8 -->

            </div><!-- row -->

            <div class="form-layout-footer mg-t-30">
                <div class="form-group">
                    <input type="submit" value="Chỉnh Sửa" class="btn btn-primary" />
                    <a asp-area="Admin" asp-controller="Roles" asp-action="Index" class="btn btn-secondary bd-0">Quay lại </a>
                </div>
            </div><!-- row -->
        </div><!-- form-layout -->
    </form>
</div><!-- section-wrapper -->
